<!--Data loadded false iken calıs dedik.-->
<div *ngIf="dataloaded==false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Search Product</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Product Name">
</div>

<div *ngIf="filterText" class="alert alert-danger">
 {{filterText}} aradınız.
</div>


  <table *ngIf="dataloaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>UrunAdı</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>Kdv'li Fiyat</th>
            <th>Stok Adedi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products |filterPipe:filterText">
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitPrice |vatAdded:18 |currency}}</td>
        <td>{{product.unitsInStock}}</td>
        <td><button (click)="addToCart(product)" type="button" class="btn btn-success">Sepete Ekle</button></td>
    </tr>
    </tbody>
</table>