<!-- Burada biz yemekleri kendimiz yazdık ancak normalde burası veri tabanından gelir. Bunu duz html yapamaz ama angular yapabilir. Welcome to nun yayına northwind ekler.
Welcome to {{title}} 
<br>
Hello {{user}}
{{product2.productName}}
-ngFor İlgili html elementini manupule eder. *ngfor demek <li> yi tekrarla demek. Bildigin foreach dongusu. of products donmesi istenen yer product takma isim let ise var gibidir.
<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul> --> 
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <!--Row a yapınca 12 esit satıra bolundu bunun 9 u product 3u category dedik..-->
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
